{% extends "portfolio/base.html" %}
{% block content %}
<h2>Tecnologias</h2>
<a href="{% url 'tecnologia_criar' %}">+ Nova Tecnologia</a>
<section>
  {% for tecnologia in tecnologias %}
  <article>
    <header>
      <h3>{{ tecnologia.nome }}</h3>
      <p>{{ tecnologia.get_categoria_display }}</p>
      <p>{{ tecnologia.get_nivel_interesse_display }}</p>
      <a href="{% url 'tecnologia_editar' tecnologia.id %}">Editar</a>
      <a href="{% url 'tecnologia_apagar' tecnologia.id %}">Apagar</a>
    </header>
    <section>
      <h4>Projetos</h4>
      <ul>
        {% for projeto in tecnologia.projetos.all %}
          <li>{{ projeto.nome }}</li>
        {% empty %}
          <li>Sem projetos associados</li>
        {% endfor %}
      </ul>
    </section>
  </article>
  {% endfor %}
</section>
{% endblock %}
